@charset "utf-8";

*{
    /* font-size: 48px; */
    font-family: sans-serif,serif,"メイリオ";
}

h1{
    display:inline;

    margin: 0 10px 0 0;
    padding: 4px 6px;

    border: 1px solid #000000;
    border-radius: 80px;

    background: linear-gradient(#716309, #dba872);
}

p{
    font-size: 80px;
    color: aquamarine;
    background: #000000;

}
h3{
    font-size: 50px;
    color: red;
}