@charset "UTF-8";


*{
    /* font-size: 48px; */
    font-family: sans-serif,serif,"メイリオ";
}

html{
    font-size: 40px;
}
h1{
    /* セレクタで指定した要素の背景色を指定 */
    background-color: rgb(10, 183, 252);
}

.gnav > ul {
    list-style: none;
}

.gnav > ul > li {
    display:inline;

    margin: 0 10px 0 0;
    padding: 16px 6px;

    border: 1px solid #000000;
    border-radius: 27px;

    background: linear-gradient(#3a0202, #999);

}

h2{
    background-color: cornflowerblue;
}
h3{
    color: hotpink;
}

a:link{
    color: red;
}

a:visited{
    color: yellow;
}

a:hover{
    font-size: 4em;
}